<h2 class="mb-4">{{ 'registration.title' | translate }}</h2>

<ng-container *ngIf="response$ | async as response">
  <div *ngIf="response.success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ 'registration.save.success' | translate }}
  </div>
  <ng-container *ngIf="!response.success && response.messages && response.messages.length > 0">
    <div *ngFor="let message of response.messages" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
  </ng-container>
</ng-container>

<form novalidate [formGroup]="f" (submit)="registerFn()">
  <div class="form-group mb-2 row">
      <div class="col-sm-6">
          <label for="firstName">{{ 'registration.first.name' | translate }}</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="col-sm-6">
          <label for="lastName">{{ 'registration.last.name' | translate }}</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
      </div>
  </div>
  <div class="form-group mb-2 row">
      <div class="col-sm-6">
          <label for="avatar">{{ 'registration.avatar' | translate }}</label>
          <input type="file" class="form-control" id="avatar" formControlName="avatarInput" [accept]="acceptedFileExt" (change)="onAvatarFileChange($event)">
          <!-- Validation error -->
          <div *ngIf="avatar && isInvalid(avatar)" class="alert alert-danger mt-2">
              <span *ngIf="avatar?.errors?.['fileSize']">{{ 'err.file.size' | translate : { max: 5 } }}</span>
              <span *ngIf="avatar?.errors?.['fileType']">{{ 'err.file.type' | translate }}</span>
          </div>
      </div>
      <div class="col-sm-6"></div>
  </div>

  <div class="form-group mb-2 row">
      <div class="col-sm-6">
          <label for="email">{{ 'registration.email' | translate }}</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <!-- Validation error -->
          <div *ngIf="email && isInvalid(email)" class="alert alert-danger mt-2">
            <span *ngIf="email?.errors?.['required']">{{ 'err.registration.email.required' | translate }}</span>
            <span *ngIf="email?.errors?.['email']">{{ 'err.registration.email.invalid' | translate }}</span>
          </div>
      </div>

      <div class="col-sm-6">
          <label for="postalCode">{{ 'registration.postal.code' | translate }}</label>
          <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
          <!-- Validation error -->
          <div *ngIf="postalCode && isInvalid(postalCode)" class="alert alert-danger mt-2">
            <span *ngIf="postalCode?.errors?.['required']">{{ 'err.registration.postal.code.required' | translate }}</span>
            <span *ngIf="postalCode?.errors?.['pattern']">{{ 'err.registration.postal.code.invalid' | translate }}</span>
          </div>
      </div>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-sm-6">
        <label for="diploma">{{ 'registration.diploma' | translate }}</label>
        <input type="file" class="form-control" id="diploma" formControlName="diplomaInput" [accept]="acceptedFileExt" (change)="onDiplomaFileChange($event)">
        <!-- Validation error -->
        <div *ngIf="diploma && isInvalid(diploma)" class="alert alert-danger mt-2">
            <span *ngIf="diploma?.errors?.['fileSize']">{{ 'err.file.size' | translate : [5] }}</span>
            <span *ngIf="diploma?.errors?.['fileType']">{{ 'err.file.type' | translate }}</span>
        </div>
    </div>
      <div class="col-sm-6"></div>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary px-4 float-end mt-2" [disabled]="!f.valid">
          {{ 'registration.btn.register' | translate }}
        </button>
      </div>
  </div>

  <br/>

  <div class="form-group mb-2 row">
    <div class="col-sm-6">
        <label for="cookieName">Cookie Name</label>
        <input type="text" class="form-control" id="cookieName" formControlName="cookieName">
    </div>
    <div class="col-sm-6">
        <label for="cookieValue">Cookie Value</label>
        <input type="text" class="form-control" id="cookieValue" formControlName="cookieValue">
    </div>
  </div>
  <div class="col-sm-12">
      <button type="button" (click)="addCookie()" class="btn btn-primary px-4 float-end mt-2">
        Add Cookie
      </button>
      <button type="button" (click)="delCookie()" class="btn btn-primary px-4 float-end mt-2">
        Delete Cookie
      </button>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'registration.id' | translate }}</th>
      <th scope="col">{{ 'registration.first.name' | translate }}</th>
      <th scope="col">{{ 'registration.last.name' | translate }}</th>
      <th scope="col">{{ 'registration.email' | translate }}</th>
      <th scope="col">{{ 'registration.postal.code' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="users$ | async as users">
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.postalCode }}</td>
      </tr>

    </ng-container>
  </tbody>
</table>

