<h2 class="mb-4">{{ 'registration.title' | translate }}</h2>

<ng-container *ngIf="response$ | async as response">
  <div *ngIf="response.success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ 'registration.save.success' | translate }}
  </div>
  <ng-container *ngIf="!response.success && response.messages && response.messages.length > 0">
    <div *ngFor="let message of response.messages" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
  </ng-container>
</ng-container>

<form novalidate [formGroup]="f" (submit)="registerFn()">
  <div class="form-group mb-4 row">
      <div class="col-sm-6">
          <label for="firstName">{{ 'registration.first.name' | translate }}</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
          <!-- Validation error -->
          <div *ngIf="firstName && isInvalid(firstName)" class="alert alert-danger mt-2">
            <span *ngIf="firstName?.errors?.['required']">{{ 'err.common.required' | translate }}</span>
          </div>
      </div>
      <div class="col-sm-6">
          <label for="lastName">{{ 'registration.last.name' | translate }}</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
          <!-- Validation error -->
          <div *ngIf="lastName && isInvalid(lastName)" class="alert alert-danger mt-2">
            <span *ngIf="lastName?.errors?.['required']">{{ 'err.common.required' | translate }}</span>
          </div>
      </div>
  </div>

  <div class="form-group mb-4 row">
      <div class="col-sm-6">
          <label for="email">{{ 'registration.email' | translate }}</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <!-- Validation error -->
          <div *ngIf="email && isInvalid(email)" class="alert alert-danger mt-2">
            <span *ngIf="email?.errors?.['required']">{{ 'err.registration.email.required' | translate }}</span>
            <span *ngIf="email?.errors?.['email']">{{ 'err.registration.email.invalid' | translate }}</span>
          </div>
      </div>

      <div class="col-sm-6">
          <label for="postalCode">{{ 'registration.postal.code' | translate }}</label>
          <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
          <!-- Validation error -->
          <div *ngIf="postalCode && isInvalid(postalCode)" class="alert alert-danger mt-2">
            <span *ngIf="postalCode?.errors?.['required']">{{ 'err.registration.postal.code.required' | translate }}</span>
            <span *ngIf="postalCode?.errors?.['pattern']">{{ 'err.registration.postal.code.invalid' | translate }}</span>
          </div>
      </div>
    </div>

    <div class="form-group mb-4 row">
      <div class="col-sm-12">
        <app-file-upload
            [label]="'registration.profile.picture' | translate"
            [id]="'avatar'"
            [accept]="avatarAcceptedFileTypes"
            [maxFileSize]="1"
            [formControl]="$any(avatar)"
            (onFileSelected)="avatarFn($event)"
        ></app-file-upload>
      </div>
    </div>

    <h4 class="mt-4 mb-4">{{ 'registration.diplomas.title' | translate }}</h4>
    <hr/>
    <div class="form-group mb-4 row">
      <div class="col-sm-12" *ngFor="let diploma of diplomas.controls; let i = index">
        <app-file-upload
            label="{{'order.' + (i+1) | translate}} {{'registration.diploma' | translate}}"
            [id]="'diploma' + i"
            [accept]="diplomaAcceptedFileTypes"
            [maxFileSize]="3"
            [formControl]="$any(diploma)"
            (onFileSelected)="diplomaFn($event, i)"
            (onFileDeleted)="deleteDiploma(i)"
        ></app-file-upload>
      </div>
        <div class="col-sm-12">
          <button class="btn btn-outline-primary px-4 mt-2" *ngIf="canAddDiploma"
                  type="button" id="addDiploma" (click)="addDiploma()" [disabled]="disableAddDiploma">
              {{ 'registration.btn.add.diploma' | translate }}
          </button>
        </div>
    </div>

    <div class="form-group mb-2 row">
      <div class="col-sm-12">
        <button type="button" (click)="registerFn()" class="btn btn-primary px-4 float-end mt-2">
          {{ 'registration.btn.register' | translate }}
        </button>
      </div>
    </div>

  <br/>

</form>

<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">{{ 'registration.id' | translate }}</th> -->
      <th scope="col">{{ 'registration.first.name' | translate }}</th>
      <th scope="col">{{ 'registration.last.name' | translate }}</th>
      <th scope="col">{{ 'registration.email' | translate }}</th>
      <!-- <th scope="col">{{ 'registration.postal.code' | translate }}</th> -->
      <th scope="col">{{ 'registration.profile.picture' | translate }}</th>
      <th scope="col">{{ 'registration.diplomas.title' | translate }}</th>
      <th scope="col">{{ 'common.actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="users$ | async as users">
      <tr *ngFor="let user of users">
        <!-- <th scope="row">{{ user.id }}</th> -->
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <!-- <td>{{ user.postalCode }}</td> -->
        <td>
            <button type="button" class="btn btn-link" (click)="viewAvatar(user.id, user.avatarFile.contentType);">
              {{user.avatarFile?.fileName}}
            </button>
        </td>
        <td>
            <ng-container *ngIf="user.diplomaFiles && user.diplomaFiles.length > 0">
                <span *ngFor="let diploma of user.diplomaFiles">
                  <button type="button" class="btn btn-link" (click)="viewDiploma(user.id, diploma.id, diploma.contentType)">
                    {{diploma.fileName}}
                  </button><br/>
                </span>
            </ng-container>
        </td>
        <td>
          <span (click)="confirmDelete(user.id)" class="deleteLink">
            <mat-icon>delete</mat-icon>
          </span>
        </td>

      </tr>

    </ng-container>
  </tbody>
</table>

