<div class="file-upload-comp">
  <ng-container *ngIf="label; else byKey">
      <label id="{{id}}Label" class="ontario-label" for="{{id}}">{{label}}</label>
  </ng-container>
  <ng-template #byKey>
      <label id="{{id}}Label" class="ontario-label" for="{{id}}">{{ labelKey | translate }}</label>
  </ng-template>

  <div class="file-drop-zone" fileDrop (onFileDropped)="onDrop($event)">
      <div *ngIf="file">
          <p class="upload-box">
              <a (click)="previewFile()" id="{{id + 'preview'}}" class="fileupload-link me-3">
                  {{file.name}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-richtext" viewBox="0 0 16 16">
                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    <path d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm1.639-3.708 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V8s1.54-1.274 1.639-1.208zM6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"/>
                  </svg>
              </a>
              <span *ngIf="showDelete" (click)="removeFile()" class="deleteLink">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                  <a id="{{id + 'delete'}}">Delete</a>
              </span>
          </p>
      </div>
      <div>
          {{ 'file.upload.drag.and.drop' | translate }} <br/>
          <label for="file-input" class="file-input-label">
            {{ 'file.upload.choose.a.file' | translate }}
              <input [id]="id" #fileInput
                      type="file"
                      [disabled]="isDisabled"
                      [accept]="accept"
                      (change)="onFileChange($event)"
                      [ngClass]="{ 'ng-invalid': formControl.invalid }"/>
          </label>
      </div>
  </div>
  <!-- Validation error -->
  <div *ngIf="formControl && isInvalid(formControl)" class="alert alert-danger mt-2">
      <div *ngIf="formControl.errors?.['required']" id="{{id}}RequiredError">{{ requiredError | translate }}</div>
      <div *ngIf="formControl.errors?.['fileSize']" id="{{id}}FileSizeError">{{ fileSizeError | translate: { max: maxFileSize} }}</div>
      <div *ngIf="formControl.errors?.['fileType']" id="{{id}}FileTypeErrors">{{ fileTypeError | translate }}</div>
  </div>

</div>
