<div class="file-upload-comp">
  <ng-container *ngIf="label; else byKey">
      <label id="{{id}}Label" class="ontario-label" for="{{id}}">{{label}}</label>
  </ng-container>
  <ng-template #byKey>
      <label id="{{id}}Label" class="ontario-label" for="{{id}}">{{ labelKey | translate }}</label>
  </ng-template>

  <div class="file-drop-zone" fileDrop (onFileDropped)="onDrop($event)">
      <div *ngIf="file">
          <p class="upload-box">
              <a (click)="previewFile()" id="{{id + 'preview'}}" class="fileupload-link me-3">
                  {{file.name}}
                  <mat-icon>description</mat-icon>
              </a>
              <span *ngIf="showDelete" (click)="removeFile()" class="deleteLink">
                  <mat-icon>delete</mat-icon>
                  <a id="{{id + 'delete'}}">Delete</a>
              </span>
          </p>
      </div>
      <div>
          {{ 'file.upload.drag.and.drop' | translate }} <br/>
          <label for="file-input" class="file-input-label">
            {{ 'file.upload.choose.a.file' | translate }}
              <input [id]="id" #fileInput
                      type="file"
                      [disabled]="isDisabled"
                      [accept]="accept"
                      (change)="onFileChange($event)"
                      [ngClass]="{ 'ng-invalid': formControl.invalid }"/>
          </label>
      </div>
  </div>
  <!-- Validation error -->
  <div *ngIf="formControl && isInvalid(formControl)" class="alert alert-danger mt-2">
      <div *ngIf="formControl.errors?.['required']" id="{{id}}RequiredError">{{ requiredError | translate }}</div>
      <div *ngIf="formControl.errors?.['fileSize']" id="{{id}}FileSizeError">{{ fileSizeError | translate: { max: maxFileSize} }}</div>
      <div *ngIf="formControl.errors?.['fileType']" id="{{id}}FileTypeErrors">{{ fileTypeError | translate }}</div>
  </div>

</div>
